<h2 class="text-center">Form Add To Data</h2>

<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <form action="add" method="post">
            <div class="mb-3">
                <label for="inputName" class="form-label">Name</label>
                <input type="text" class="form-control" id="inputName" name="inputName" placeholder="Enter your name"
                    required>
            </div>
            <div class="mb-3">
                <label for="inputClub" class="form-label">Club</label>
                <input type="text" class="form-control" id="inputClub" name="inputClub" placeholder="Enter your club"
                    required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
